{% load static %}
{% load i18n %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Advanced form elements</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/bs-stepper/css/bs-stepper.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/dropzone/min/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <!-- Navbar -->
    {% include 'logus/snippets/navbar.html' %}
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <br>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Мастер бронирования</h3>
                    </div>
                    <form action="{% url 'logus_registration:available-rooms' %}" enctype="multipart/form-data"
                          method="post" id="product_form">
                        {% csrf_token %}
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Диапазон дат:</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                  </span>
                                            </div>
                                            <input name="reservation_time" type="text" class="form-control float-right"
                                                   id="reservation">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form-group -->
                                </div>

                                <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Тип комнаты</label>
                                        <select name="room_type" class="form-control select_room_type" style="width: 100%;">
                                            {% for room_type in room_types %}
                                                <option name="room_type"
                                                        value="{{ room_type.id }}">{{ room_type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            {% if rooms %}
            	<div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap" id="room-table">
                                    <thead>
                                    <tr>
                                        <th>Комната</th>
                                        <th>Дата выезда</th>
                                        <th>Дата заезда</th>
                                        <th>Пол</th>
                                        <th>Возраст</th>
                                        <th>Этаж</th>
                                        <th>Статус уборки</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for room in rooms %}
                                        <tr data-room-id="{{ room.id }}">
                                            <td>{{ room.room_number }}  <span class="badge bg-yellow">{{ room.capacity }}</span></td>
                                            <td>11-7-2014</td>
                                            <td></td>
                                            <td><span class="badge bg-danger">Ж</span></td>
                                            <td>70</td>
                                            <td>{{ room.floor }}</td>
                                            <td><span class="badge bg-danger">грязный</span></td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                            <br>
{#                            <form id="room-form" method="POST" action="{% url 'logus_registration:test' %}">#}
{#                                {% csrf_token %}#}
{#                                <input type="hidden" name="room_id" id="selected-room-id">#}
{#                                <button type="submit" id="submit-button" class="btn btn-primary" disabled>Submit</button>#}
{#                            </form>#}

                        </div>
                </div>
            {% endif %}

            <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap" id="room-table">
                                    <thead>

                                    <tr>
                                        <th style="font-size: 135%">Тип\Тариф</th>
                                        {% for tariff in tariffs %}
                                            <th>
                                                <span class="badge" style="font-size: 100%; background-color: {{ tariff.color }};">{{ tariff.name }}</span>
                                            </th>

                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for room_type, values in matrix.items %}
                                            <tr>
                                                <td><span class="badge" style="background-color: {{ room_type.color }};">
                                                    {{ room_type }}</span>
                                                </td>
                                                {% for value in values %}
                                                    {% if not value %}
                                                        <td>
                                                    	<span class="badge bg-danger">---</span>
                                                        </td>
                                                    {% else %}
                                                        <td>{{ value|floatformat:2|intcomma }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
{#                            <form id="room-form" method="POST" action="{% url 'logus_registration:test' %}">#}
{#                                {% csrf_token %}#}
{#                                <input type="hidden" name="room_id" id="selected-room-id">#}
{#                                <button type="submit" id="submit-button" class="btn btn-primary" disabled>Submit</button>#}
{#                            </form>#}

                        </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    {% include 'snippets/footer.html' %}
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'adminlte3_assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/dropzone/min/dropzone.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/dist/js/adminlte.min.js' %}"></script>
<!-- Page specific script -->

<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', {'placeholder': 'dd/mm/yyyy'})
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', {'placeholder': 'mm/dd/yyyy'})
        //Money Euro
        $('[data-mask]').inputmask()

        //Date picker
        $('#reservationdate').datetimepicker({
            format: 'L'
        });

        //Date and time picker
        $('#reservationdatetime').datetimepicker({icons: {time: 'far fa-clock'}});

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            }
        )

        //Timepicker
        $('#timepicker').datetimepicker({
            format: 'LT'
        })

        //Bootstrap Duallistbox
        $('.duallistbox').bootstrapDualListbox()

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()

        $('.my-colorpicker2').on('colorpickerChange', function (event) {
            $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
        })

        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        })

    })
    // BS-Stepper Init
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'))
    })

    // DropzoneJS Demo Code Start
    Dropzone.autoDiscover = false

    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
    var previewNode = document.querySelector("#template")
    previewNode.id = ""
    var previewTemplate = previewNode.parentNode.innerHTML
    previewNode.parentNode.removeChild(previewNode)

    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "/target-url", // Set the url
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
    })

    myDropzone.on("addedfile", function (file) {
        // Hookup the start button
        file.previewElement.querySelector(".start").onclick = function () {
            myDropzone.enqueueFile(file)
        }
    })

    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function (progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
    })

    myDropzone.on("sending", function (file) {
        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1"
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
    })

    // Hide the total progress bar when nothing's uploading anymore
    myDropzone.on("queuecomplete", function (progress) {
        document.querySelector("#total-progress").style.opacity = "0"
    })

    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function () {
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
    }
    document.querySelector("#actions .cancel").onclick = function () {
        myDropzone.removeAllFiles(true)
    }
    // DropzoneJS Demo Code End
</script>
</body>
</html>
