<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title"></h3>
    </div>
    <div class="card-body">
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap" id="room-table">
                <thead>
                <tr>
                    <th>Комната</th>
                    <th>Дата выезда</th>
                    <th>Дата заезда</th>
                    <th>Пол</th>
                    <th>Возраст</th>
                    <th>Этаж</th>
                    <th>Статус уборки</th>
                </tr>
                </thead>
                <tbody>
                {% for room in rooms %}
                    <tr data-room-id="{{ room.id }}">
                        <td>{{ room.room_number }} <span class="badge bg-yellow">{{ room.capacity }}</span></td>
                        <td>11-7-2014</td>
                        <td></td>
                        <td><span class="badge bg-danger">Ж</span></td>
                        <td>70</td>
                        <td>{{ room.floor }}</td>
                        <td><span class="badge bg-danger">грязный</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</title>
</head>
<body>

</body>
</html>