{% extends 'snippets/base.html' %}
{% block income_active %}
    header-link-active
{% endblock %}
{% load static %}
{% block content %}
    <!-- header ends === -->

    <!-- navigation starts ====== -->
    <div class="navigation">
        <a href="{% url 'warehouse:warehouse-index' %}">
            <img src="{% static 'assets/icons/arrow-circle-left.svg' %}" alt="icon"/>
            Приход - Реестр
        </a>
        <div class="navigation-right">
            <button>
                <img src="{% static '/assets/icons/file.svg' %}" alt="icon"/>
                Новый
            </button>
            <button>
                <img src="{% static '/assets/icons/file-pencil-alt.svg' %}" alt="icon"/>
                Изменить
            </button>
            <button>
                <img src="{% static '/assets/icons/check.svg' %}" alt="icon"/>
                Активация
            </button>
            <input type="checkbox"/>
            <label for="">Тип</label>
            <input type="checkbox"/>
            <label for="">V</label>
            <input type="checkbox"/>
            <label for="">C</label>
            <input
                    type="date"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="DATE"
            />
            <label for="">По</label>
            <input
                    type="date"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="DATE"
            />
        </div>
    </div>
    <!-- navigation ends ====== -->

    <!-- Приходная накладная ======================== -->
    <div class="medicines">
        <table style="max-height: 550px;">
            <!-- table head starts ===== -->
            <thead>
            <tr class="table-head">
                <th></th>
                <th></th>
                <th>ID</th>
                <th>Документ</th>
                <th>Дата</th>
                <th>Поставщик</th>
                <th>Сумма</th>
                <th>Пользователь</th>
                <th>Дата ввода</th>
            </tr>
            </thead>
            <!-- table head ends ===== -->

            <!-- table body starts ========== -->
            <tbody>
            {% for rec in receive_registry %}

                <tr class="table-body">
                    <td class="text-center">
                        <img src="{% static '/assets/icons/mail.svg' %}" alt="icon"/>
                    </td>
                    <td>
                        <input type="checkbox" name="" id=""/>
                    </td>
                    <td><a href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.id }}</a></td>
                    <td><a href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.receiver.name }}</a></td>
                    <td><a href="{% url 'warehouse:warehouse-recreg'  rec.id %}">{{ rec.created_at }}</a></td>
                    <td><a href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.sender }}</a></td>
                    <td style="text-align: end"><a
                            href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.summa_prices }}</a></td>
                    <td style="text-align: end"><a
                            href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.created_by }}</a></td>
                    <td style="text-align: end">02.03.2023 14:00:02</td>
                </tr>

            {% endfor %}


            </tbody>

            <!-- table body ends ======= -->

            <!-- table footer starts ============ -->
            <tfoot>
            <tr class="table-footer">
                <td style="width: 35px"></td>
                <td></td>
                <td></td>
                <td>{{ receive_registry.count }}</td>
                <td></td>
                <td></td>
                <td style="text-align: end">{{ summa_prices}}</td>
                <td style="text-align: end"></td>
                <td style="text-align: end"></td>
            </tr>
            </tfoot>
            <!-- table footer ends ========= -->
        </table>
        <div class="Приходная-bottom">
            <table>
                <!-- table head starts ======== -->
                <thead>
                <tr class="table-head">
                    <th></th>
                    <th>ID</th>
                    <th>Наименование</th>
                    <th>Серия</th>
                    <th>Срок годности</th>
                    <th>Количество</th>
                    <th>Базовая цена</th>
                    <th>Сумма</th>
                    <th>Пользователь</th>
                </tr>
                </thead>
                <!-- table head ends ======== -->

                <tbody>
                <!-- table body starts ======================= -->
                {% for item in rec_reg_items %}
                    <tr class="table-body">
                        <td style="width: 35px">
                            <img
                                    class="more-icon"
                                    src="/assets/icons/row-left-mini.svg"
                                    alt=""
                            />
                        </td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.item.name }}</td>
                        <td>{{ item.item.seria }}</td>
                        <td>{{ item.item.expire_date }}</td>
                        <td style="text-align: end">{{ item.quantity }}</td>
                        <td style="text-align: end">{{ item.item.price }}</td>
                        <td style="text-align: end">{{ item.summary_price }}</td>
                        <td style="text-align: end">Администратор</td>
                    </tr>
                {% endfor %}
                </tbody>
                <!-- table body ends ======================= -->

                <!-- table footer starts ============= -->
                <tfoot>
                <tr class="table-footer">
                    <td style="width: 35px"></td>
                    <td></td>
                    <td>{{ rec_reg_items.count }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: end">{{ rec_reg_items_sum }} </td>
                    <td style="text-align: end"></td>
                </tr>
                </tfoot>
                <!-- table footer ends ============= -->
            </table>
        </div>
    </div>
    <!-- Приходная ends ======================== -->

    <!-- office modal starts ================ -->
    <div
            class="modal fade w-100"
            id="exampleModalToggle"
            aria-hidden="true"
            tabindex="-1"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                        Выбор из справочника
                    </h1>
                    <button
                            class="bg-transparent border-0"
                            type="button"
                            data-bs-dismiss="modal"
                    >
                        <img src="{% static '/assets/icons/close-circle.svg' %}" alt="icon"/>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body-top">
                        <img src="{% static '/assets/icons/search-normal.svg' %}" alt="icon"/>
                        <input
                                class="border-0"
                                type="text"
                                placeholder="Поиск по таблице"
                        />
                    </div>
                    <table>
                        <tr>
                            <th></th>
                            <th>Наименование</th>
                        </tr>
                        <tr>
                            <td style="width: 35px">
                                <img src="{% static '/assets/icons/row-left-mini.svg' %}" alt=""/>
                            </td>
                            <td>--------</td>
                        </tr>
                        <tr data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                            <td><img src="{% static '/assets/icons/row-left-mini.svg' %}" alt=""/></td>
                            <td>Hayat Medical filial</td>
                        </tr>
                        <tr data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                            <td><img src="{% static '/assets/icons/row-left-mini.svg' %}" alt=""/></td>
                            <td>Hayat medical main</td>
                        </tr>
                        <tr data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                            <td><img src="{% static '/assets/icons/row-left-mini.svg' %}" alt=""/></td>
                            <td>Hayat Medical filial 2 операционной</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- office modal ends ========= -->

{% endblock content %}}

