{% extends 'snippets/base.html' %}
{% load static %}
{% block content %}
    <!-- header ends === -->

    <!-- navigation starts ====== -->
    <div class="navigation">
        <a href="{% url 'warehouse:warehouse-index' %}">
            <img src="{% static "/assets/icons/arrow-circle-left.svg" %}" alt="icon"/>
            Реестр прихода - Приходные накладные
        </a>
    </div>
    <!-- navigation ends ====== -->

    <!-- income starts ======================= -->
    <div class="income-main">
        <div class="income-top">
            <!-- income top left starts ================ -->
            <div class="income-top-left">
                <button>
                    <img src="{% static "/assets/icons/document-text.svg" %}" alt="icon"/>
                </button>
                <button>
                    <img src="{% static "/assets/icons/refresh-2.svg" %}" alt="icon"/>
                </button>
                <button>
                    <img src="{% static "/assets/icons/document.svg" %}" alt="icon"/>
                </button>
                <div class="income-check-input">
                    <input type="checkbox"/>
                    <label for="">Отдел</label>
                </div>
                <div class="income-filter-input">
                    <input type="text"/>
                    <button data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                        <img src="{% static "/assets/icons/book.svg" %}" alt="icon"/>
                    </button>
                </div>
                <div class="income-check-input">
                    <input type="checkbox"/>
                    <label for="">Введен</label>
                </div>
            </div>
            <!-- income top left ends ================ -->

            <!-- income top right starts ================ -->
            <div class="income-top-right">
                <input type="checkbox"/>
                <div class="form-floating">
                    <input
                            type="date"
                            class="form-control"
                            id="floatingPassword"
                            placeholder="DATE"
                    />
                    <label for="floatingPassword">дата с</label>
                </div>
                <div class="form-floating">
                    <input
                            type="date"
                            class="form-control"
                            id="floatingPassword"
                            placeholder="DATE"
                    />
                    <label for="floatingPassword">дата по</label>
                </div>
            </div>
            <!-- income top right ends ================ -->
        </div>
        <div class="income-filter">
            <div class="income-filter-inputs">
                <div class="income-check-input">
                    <input type="checkbox"/>
                    <label for="">Введен</label>
                </div>
                <div class="income-filter-input">
                    <input type="text"/>
                    <button>
                        <img src="{% static "/assets/icons/book.svg" %}" alt="icon"/>
                    </button>
                </div>
            </div>
            <div class="income-filter-inputs">
                <div class="income-check-input">
                    <input type="checkbox"/>
                    <label for="">Организация</label>
                </div>
                <div class="income-filter-input">
                    <input type="text"/>
                    <button>
                        <img src="{% static "/assets/icons/book.svg" %}" alt="icon"/>
                    </button>
                </div>
            </div>
            <div class="income-filter-inputs">
                <div class="income-check-input">
                    <input type="checkbox"/>
                    <label for="">Пользователь</label>
                </div>
                <div class="income-filter-input">
                    <input type="text"/>
                    <button>
                        <img src="{% static "/assets/icons/book.svg" %}" alt="icon"/>
                    </button>
                </div>
            </div>
        </div>

        <!-- income first table starts ========== -->

        <div class="income-first-table">
            <table>
                <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th rowspan="2"></th>
                    <th rowspan="2">ID</th>
                    <th rowspan="2">Документ</th>
                    <th colspan="2">Счет фактура</th>
                    <th colspan="2">Накладная</th>
                    <th rowspan="2">Отсрочка</th>
                    <th rowspan="2">Поставщик</th>
                    <th colspan="4">Сумма</th>
                    <th rowspan="2">Пользователь</th>
                    <th rowspan="2">Дата ввода</th>
                    <th rowspan="2">Филиал</th>
                </tr>
                <tr>
                    <th>Дата</th>
                    <th>№</th>
                    <th>Дата</th>
                    <th>№</th>
                    <th>Прихода</th>
                    <th>Со скидкой</th>
                    <th>Розничная</th>
                    <th>Розничная 1</th>
                </tr>
                </thead>
                <tbody>
                {% for rec in receive_registry %}
                    <tr>
                        <td style="width: 35px" class="text-center">
                            <img
                                    class="more-icon"
                                    src="{% static "/assets/icons/row-left-mini.svg" %}"
                                    alt=""
                            />
                        </td>
                        <td class="text-center">
                            {% if rec.send_registry.is_delivered %}
                                <img src="{% static "assets/icons/tick.svg" %}" alt="icon"/>
                            {% else %}
                                <img src="{% static "/assets/icons/mail.svg" %}" alt="icon"/>
                            {% endif %}
                        </td>
                        <td class="text-start"><a href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.id }}</a>
                        </td>
                        <td class="text-start">ВНУТРЕНИЙ ПРИХОД</td>
                        <td class="text-start"><a
                                href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.created_at.date }}</a></td>
                        <td class="text-start">1<a href="{% url 'warehouse:warehouse-recreg' rec.id %}"></a></td>
                        <td class="text-start"><a
                                href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.created_at.date }}</a></td>
                        <td class="text-end"><a href="{% url 'warehouse:warehouse-recreg' rec.id %}">1</a></td>
                        <td class="text-start"><a
                                href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.created_at.date }}</a></td>
                        <td class="text-start"><a
                                href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.sender }}</a></td>
                        <td class="text-end"><a
                                href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.summa_prices }}</a></td>
                        <td class="text-end"><a
                                href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.summa_prices }}</a></td>
                        <td class="text-end"><a
                                href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.summa_prices }}</a></td>
                        <td class="text-end"><a
                                href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.summa_prices }}</a></td>
                        <td class="text-start"><a
                                href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.created_by.username }}</a>
                        </td>
                        <td class="text-start"><a
                                href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.created_at }}</a></td>
                        <td class="text-start"><a
                                href="{% url 'warehouse:warehouse-recreg' rec.id %}">{{ rec.receiver }}</a></td>
                    </tr>
                {% endfor %}

                </tbody>

                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{ receive_registry.count }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{ summa_prices }}</td>
                    <td class="text-end">{{ summa_prices }}</td>
                    <td class="text-end">{{ summa_prices }}</td>
                    <td class="text-end">{{ summa_prices }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <!-- income first table ends ========== -->

        <!-- income second table starts ================= -->
        <div class="income-second-table">
            <table>
                <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th rowspan="2">ID</th>
                    <th rowspan="2">Наименование</th>
                    <th rowspan="2">Серия</th>
                    <th rowspan="2">Срок год.</th>
                    <th rowspan="2">Кол-во</th>
                    <th rowspan="2">Базовая Цена</th>
                    <th colspan="2">Приходная</th>
                    <th rowspan="2">Наценка с</th>
                    <th colspan="1">Со скидкой</th>
                    <th colspan="1">Приходная</th>
                    <th colspan="3">Розничная</th>
                    <th colspan="1"></th>
                </tr>
                <tr>
                    <th>Цена</th>
                    <th>Сумма</th>
                    <th>Сумма</th>
                    <th>Цена с НДС</th>
                    <th>%%%</th>
                    <th>Цена с НДС</th>
                    <th>Цена</th>
                    <th>Цена</th>
                </tr>
                </thead>
                <tbody>
                {% for rec_item in rec_reg_items.received_items.all %}
                    <tr>
                        <td style="width: 35px" class="text-center">
                            <img
                                    class="more-icon"
                                    src="{% static "/assets/icons/row-left-mini.svg" %}"
                                    alt=""
                            />
                        </td>
                        <td class="text-start">{{ rec_item.id }}</td>
                        <td class="text-start">{{ rec_item.item.name }}</td>
                        <td class="text-start">FSEA-005A</td>
                        <td class="text-start">{{ rec_item.item.expire_date }}</td>
                        <td class="text-start">{{ rec_item.quantity }}</td>
                        <td class="text-end">{{ rec_item.item.price }}</td>
                        <td class="text-start">{{ rec_item.item.price }}</td>
                        <td class="text-start">{{ rec_item.item.price }} *{{ rec_item.quantity }}</td>
                        <td class="text-end">Приходная</td>
                        <td class="text-end">{{ rec_item.item.price }} *{{ rec_item.quantity }}</td>
                        <td class="text-end">{{ rec_item.item.price }}</td>
                        <td class="text-end">0.00</td>
                        <td class="text-start">{{ rec_item.item.price }}</td>
                        <td class="text-start">{{ rec_item.item.price }}</td>
                        <td class="text-start">{{ rec_item.item.price }}</td>
                    </tr>
                {% endfor %}
                </tbody>

                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-start">1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">280 000.00</td>
                    <td></td>
                    <td class="text-end">280 000.00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- income second table ends ================= -->
    <!-- income ends ======================= -->

    <!-- office modal starts ================ -->
    <div
            class="modal fade w-100"
            id="exampleModalToggle"
            aria-hidden="true"
            tabindex="-1"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                        Выбор из справочника
                    </h1>
                    <button
                            class="bg-transparent border-0"
                            type="button"
                            data-bs-dismiss="modal"
                    >
                        <img src="{% static "/assets/icons/close-circle.svg" %}" alt="icon"/>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body-top">
                        <img src="{% static "/assets/icons/search-normal.svg" %}" alt="icon"/>
                        <input
                                class="border-0"
                                type="text"
                                placeholder="Поиск по таблице"
                        />
                    </div>
                    <table>
                        <tr>
                            <th></th>
                            <th>Наименование</th>
                        </tr>
                        <tr>
                            <td style="width: 35px">
                                <img src="{% static "/assets/icons/row-left-mini.svg" %}" alt=""/>
                            </td>
                            <td>--------</td>
                        </tr>
                        <tr data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                            <td><img src="{% static "/assets/icons/row-left-mini.svg" %}" alt=""/></td>
                            <td>Hayat Medical filial</td>
                        </tr>
                        <tr data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                            <td><img src="{% static "/assets/icons/row-left-mini.svg" %}" alt=""/></td>
                            <td>Hayat medical main</td>
                        </tr>
                        <tr data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                            <td><img src="{% static "/assets/icons/row-left-mini.svg" %}" alt=""/></td>
                            <td>Hayat Medical filial 2 операционной</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- office modal ends ========= -->

{% endblock content %}}

