{% extends 'sanatorium/nurse/base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>История болезни №: <b>{{ ill_his.series_number }}</b></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active"><b>Первичный прием лечащего
                                врача, {{ request.user.full_name }}</b></li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Default box -->
                        <div class="card">
                            <div class="tab-pane text-left fade show active" id="vert-tabs-title-page" role="tabpanel"
                                 aria-labelledby="vert-tabs-title-page-tab">
                                <div class="card-body">

                                    <div class="tab-content" id="custom-content-below-tabContent">
                                        <form id="form" method="POST" action="?{% if next %}next={{ next }}{% endif %}">
                                            {% csrf_token %}
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="lab">Исследования</label>
                                                    <select id="lab" class="form-control select2"
                                                            style="width: 100%;"
                                                            name="lab">
                                                        {% for lab in labs %}
                                                            <option value="{{ lab.id }}"
                                                                {% if form.instance.lab.id == lab.id %}selected{% endif %}>{{ lab }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            {% with datetimepicker_id="lab_reservationdate" %}
                                                <div class="form-group">
                                                    <label>Дата начала: </label>
                                                    <div class="input-group date" id="lab_reservationdate"
                                                         data-target-input="nearest">
                                                        <input name="start_date" type="text"
                                                               class="form-control datetimepicker-input"
                                                               data-target="#lab_reservationdate"
                                                               value="{{ form.instance.start_date|date:"d/m/Y" }}"
                                                        />
                                                        <div class="input-group-append"
                                                             data-target="#lab_reservationdate"
                                                             data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i
                                                                    class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endwith %}
{#                                            {% with datetimepicker_id="lab_reservationdate" %}#}
{#                                            <div class="form-group">#}
{#                                                <label>Дата начала:</label>#}
{#                                                {% include "sanatorium/doctors/components/datetimepicker.html" with id=datetimepicker_id name="start_date" value=form.instance.start_date %}#}
{#                                            </div>#}
{#                                            {% endwith %}#}
                                                <div class="form-group">
                                                    <label for="comments">Особые указания</label>
                                                    <textarea rows="3" name="comments" type="text"
                                                              class="form-control"
                                                              id="comments"
                                                              placeholder="">{{ form.comments.value }}</textarea>
                                                </div>

                                                <div class="modal-footer justify-content-between">

                                                </div>
                                            </div>
                                        </form>

                                    </div>

                                    <div class="card card-primary" id="lab-result-programs">
                                        <div class="card-header">
                                            <a href="#lab-result-programs"
                                               style="text-decoration: none; color: inherit;">
                                                <h2 class="card-title">Результаты исследовании</h2>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="card-body p-0">
                                                    <table class="table table-striped projects">
                                                        <thead>
                                                        <tr>
                                                            <th style="width: 1%">
                                                                #
                                                            </th>
                                                            <th style="width: 20%">
                                                                Комментарии
                                                            </th>
                                                            <th style="width: 20%">
                                                                Файл
                                                            </th>
                                                            <th>
                                                                Выгружал
                                                            </th>
                                                            <th>
                                                                Выгружен
                                                            </th>
                                                            <th >
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for lab in lab_results %}
                                                            <tr>
                                                                <td>
                                                                    {{ forloop.counter }}
                                                                </td>
                                                                <td>
                                                                        {{ lab.comments }}
                                                                </td>
                                                                <td>
                                                                        {{ lab.file_format }}
                                                                </td>
                                                                <td>
                                                                    {{ lab.created_by.full_name }}
                                                                </td>
                                                                <td>
                                                                    {{ lab.created_at }}
                                                                </td>
                                                                {% with current_url=request.get_full_path %}
                                                                    <td class="project-actions text-right">
                                                                        <a class="btn btn-info btn-sm"
                                                                           href="{% url 'sanatorium_nurse:consulting_result_update' lab.id %}?next={{ current_url }}">
                                                                            <i class="fas fa-edit">
                                                                            </i>
                                                                            Изменить
                                                                        </a>
                                                                        <a data-toggle="modal" data-target="#modal-lab-result-delete" class="btn btn-danger btn-sm" href="#">
                                                                            <i class="fas fa-trash">
                                                                            </i>
                                                                            Удалить
                                                                        </a>
                                                                    </td>
                                                                {% endwith %}
                                                            <div class="modal fade" id="modal-lab-result-delete">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="tab-pane fade show active"
                                                                             id="custom-tabs-one-home" role="tabpanel"
                                                                             aria-labelledby="custom-tabs-one-home-tab">
                                                                            <form method="POST" enctype="multipart/form-data">
                                                                                {% csrf_token %}
                                                                                <div class="card-body">
                                                                                    <div class="modal-header">
                                                                                        <h4 class="modal-title center">Хотите удалить?</h4>
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                            <span aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                    </div>

                                                                                    <div class="modal-footer justify-content-between">
                                                                                        <a class="btn btn-danger btn-sm" href="{% url 'sanatorium_nurse:consulting_result_delete' lab.id %}?next={{ current_url }}">
                                                                                            <i class="fas fa-trash">
                                                                                            </i>
                                                                                            Удалить
                                                                                        </a>
                                                                                        <button type="button"
                                                                                                class="btn btn-default"
                                                                                                data-dismiss="modal">Закрыть
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <br>
                                            <div class="row">
                                                <div class="col-10">
                                                    <a class="btn btn-success btn-sm" href="#"
                                                       data-toggle="modal" data-target="#modal-lab-result">
                                                        <i class="fas fa-plus">
                                                        </i>
                                                        Добавить
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="modal fade" id="modal-lab-result">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="tab-pane fade show active"
                                                             id="custom-tabs-one-home" role="tabpanel"
                                                             aria-labelledby="custom-tabs-one-home-tab">
                                                            <form id="lab_result_form" method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <div class="card-body">
                                                                    <div class="form-group">
                                                                        <label for="lab">Комментарии</label>
                                                                        <textarea rows="3" name="comments"
                                                                                  type="text"
                                                                                  class="form-control"
                                                                                  id="comments"
                                                                                  placeholder=""></textarea>
                                                                    </div>
                                                                    <div class="file-upload">
                                                                        <input name="attached_file" type="file" class="file-input" id="fileUploadInput">
                                                                        <label class="file-label" for="fileUploadInput">Добавить файл</label>
                                                                    </div>

                                                                    <div class="modal-footer justify-content-between">
                                                                        <button type="button"
                                                                                class="btn btn-default"
                                                                                data-dismiss="modal">Закрыть
                                                                        </button>
                                                                        <button name="lab_result_form"
                                                                                type="submit"
                                                                                class="btn btn-primary">
                                                                            Сохранить
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock content %}
