.formControl {
  padding: 17px 0;
  min-width: 170px !important;
  margin-right: 10px !important;
  &:nth-child(3) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    margin-left: 10px;
    box-sizing: content-box;
    padding-right: 20px;
  }
  &:nth-child(4) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 90px !important;
  }
}
.wrapper {
  padding: 0 20px;
  width: 100%;
}
.actions {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.downloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;

  svg {
    margin-bottom: 10px;
  }
  span {
    max-width: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.87);
  }
}
.searchbox {
  width: 20%;
  padding-left: 10px !important;
}
.table {
  border-collapse: collapse;
  width: 100%;
  .tableHead {
    th {
      background: #64b6f7;
    }
  }
  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.199);
    padding: 5px;
    min-width: 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    text-align: start;
    padding: 8px;
  }
}
.tableWrapper {
  border: 1px solid rgba(0, 0, 0, 0.199);
  input {
    padding: 10px 0;
  }
}
.borderTop {
  border-top: 1px solid rgba(0, 0, 0, 0.199);
}
.tableTitle {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 10px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}
.totalAmount {
  padding: 10px 0;
  display: flex;
  justify-content: end;
  & > div {
    width: 328px;
  }
}
