Django>=3.2.16
psycopg2>=2.8
python-decouple==3.6
djangorestframework==3.13
djangorestframework-simplejwt
drf-yasg
django-cors-headers
Pillow
PyJWT==1.7.1
django-import-export
django-filter
passlib==1.7.4