{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hayat Medical Center</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte3_assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/bs-stepper/css/bs-stepper.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/plugins/dropzone/min/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte3_assets/dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <!-- Navbar -->
    {% include 'sanatorium/doctors/snippets/navbar.html' %}
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}


        <!-- Content Header (Page header) -->
        <br>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-primary" id="treatment-procedures">
                    <div class="card-header">
                        <a href="#treatment-procedures"
                           style="text-decoration: none; color: inherit;">
                            <h2 class="card-title">Лечебные процедуры || {{ ill_his }} || {{ ill_his.patient }}</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="card-body p-0">
                                <table class="table table-striped projects">
                                    <thead>
                                    <tr>
                                        <th style="width: 1%">
                                            #
                                        </th>
                                        <th>
                                            Назначение
                                        </th>
                                        <th>
                                            Статус
                                        </th>

                                        <th>
                                            О
                                        </th>
                                        <th>
                                            Д
                                        </th>
                                        <th>
                                            Н
                                        </th>
                                        <th>
                                            Дата
                                        </th>

                                        <th>
                                            Назначил
                                        </th>
                                        <th>
                                            Прогрес
                                        </th>
                                        <th>
                                            Лейбл
                                        </th>
                                        <th style="width: 20%">
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for proc in assigned_procedures %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td>
                                                <a href="{% url 'sanatorium_dispatchers:patient_procedure_by_days' proc.pk %}">
                                                    {{ proc.medical_service }}
                                                </a>
                                            </td>
                                            <td>
                                                {% if proc.state == 'assigned' %}
                                                    <span class="badge bg-warning">Назначено</span>
                                                {% elif proc.state == 'dispatched' %}
                                                    <span class="badge bg-success">Диспетчеризовано</span>
                                                {% elif proc.state == 'cancelled' %}
                                                    <span class="badge bg-danger">Отменено</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ proc.remaining_quantity }}
                                            </td>
                                            <td>
                                                {{ proc.done_quantity }}
                                            </td>
                                            <td>
                                                {{ proc.quantity }}
                                            </td>
                                            <td>
                                                {{ proc.start_date }}
                                            </td>

                                            <td>
                                                {{ proc.created_by.full_name }}
                                            </td>
                                            <td>
                                                <div class="progress progress-xs progress-striped active">
                                                  <div class="progress-bar bg-success" style="width: {{ proc.progres_percentile }}%"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge bg-success">{{ proc.progres_percentile }}%</span></td>
                                            {% with current_url=request.get_full_path %}
                                                <td class="project-actions text-right">
                                                    <a class="btn btn-info btn-sm"
                                                       href="#">
                                                        <i class="fas fa-edit">
                                                        </i>
                                                        Изменить
                                                    </a>
                                                    {% if proc.state != 'dispatched' %}

                                                        <a class="btn btn-success btn-sm" href="{% url 'sanatorium_dispatchers:patient_procedure_dispatch' proc.id %}">
                                                            <i class="fas fa-upload">
                                                            </i>
                                                            Диспетчеризировать
                                                        </a>
                                                    {% endif %}
                                                </td>
                                                </tr>
                                            {% endwith %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-10">
                                <a class="btn btn-success btn-sm" href="#"
                                   data-toggle="modal" data-target="#modal-procedures">
                                    <i class="fas fa-plus">
                                    </i>
                                    Добавить
                                </a>
                            </div>
                        </div>

                        <div class="modal fade" id="modal-dispatch">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Назначить специалиста</h4>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="example_fname">Cпециалист</label>
                                                <select class="form-control select2"
                                                        style="width: 100%;"
                                                        name="medical_service">
                                                    {% for spec in specialists %}
                                                        <option value="{{ spec.id }}"
                                                                {% if procedures_form.instance.procedure_doctor.id == spec.id %}selected{% endif %}>{{ spec }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">Закрыть
                                                </button>
                                                <button name="procedures_form" type="submit"
                                                        class="btn btn-primary">
                                                    Диспетчеризировать
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </div>
    <!-- /.container-fluid -->
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


{% include 'sanatorium/snippets/footer.html' %}
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'adminlte3_assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/plugins/dropzone/min/dropzone.min.js' %}"></script>
<script src="{% static 'adminlte3_assets/dist/js/adminlte.min.js' %}"></script>
<!-- Page specific script -->

<script>
    document.getElementById('arrival-date-picker').addEventListener('change', function () {
        var selectedDate = this.value;
        fetch(`{% url 'sanatorium_staff:by-start-date' %}?start_date=${selectedDate}`)
            .then(response => response.json())
            .then(data => {
                var tableBody = document.getElementById('booking-table-body');
                tableBody.innerHTML = '';
                data.bookings.forEach(function (booking) {
                    var row = `<tr>
                    <td>${booking.id}</td>
                    <td>${booking.series}</td>
                    <td>${booking.patient_full_name}</td>
                    <td>${booking.end_date}</td>
                    <td><span class="badge" style="background-color: ${booking.current_room_type_color};">${booking.current_room_type}</span></td>
                    <td>${booking.current_room_room_number}</td>
                    <td>${booking.start_date}</td>
                    <td>${booking.duration}</td>
                    <td><span class="badge" style="background-color: ${booking.current_tariff_color};">${booking.current_tariff}</span></td>
                    <td>${booking.discount}</td>
                </tr>`;
                    tableBody.insertAdjacentHTML('beforeend', row);
                });
            });
    });
</script>


<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', {'placeholder': 'dd/mm/yyyy'})
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', {'placeholder': 'mm/dd/yyyy'})
        //Money Euro
        $('[data-mask]').inputmask()

        //Date picker
        $('#reservationdate').datetimepicker({
            format: 'L'
        });

        //Date and time picker
        $('#reservationdatetime').datetimepicker({icons: {time: 'far fa-clock'}});

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            }
        )

        //Timepicker
        $('#timepicker').datetimepicker({
            format: 'LT'
        })

        //Bootstrap Duallistbox
        $('.duallistbox').bootstrapDualListbox()

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()

        $('.my-colorpicker2').on('colorpickerChange', function (event) {
            $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
        })

        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        })

    })
    // BS-Stepper Init
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'))
    })

    // DropzoneJS Demo Code Start
    Dropzone.autoDiscover = false

    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
    var previewNode = document.querySelector("#template")
    previewNode.id = ""
    var previewTemplate = previewNode.parentNode.innerHTML
    previewNode.parentNode.removeChild(previewNode)

    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "/target-url", // Set the url
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
    })

    myDropzone.on("addedfile", function (file) {
        // Hookup the start button
        file.previewElement.querySelector(".start").onclick = function () {
            myDropzone.enqueueFile(file)
        }
    })

    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function (progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
    })

    myDropzone.on("sending", function (file) {
        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1"
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
    })

    // Hide the total progress bar when nothing's uploading anymore
    myDropzone.on("queuecomplete", function (progress) {
        document.querySelector("#total-progress").style.opacity = "0"
    })

    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function () {
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
    }
    document.querySelector("#actions .cancel").onclick = function () {
        myDropzone.removeAllFiles(true)
    }
    // DropzoneJS Demo Code End
</script>
</body>
</html>
</title>
</head>
<body>

</body>
</html>