.actions {
  width: 100%;
  border-bottom: var(--borderStyle);
  display: flex;
  align-items: center;
}
.wrapper {
  width: 100%;
  padding: 0 17px;
}
.buttonGroup {
  padding: 17px 20px;
  border-right: var(--borderStyle);
  border-left: var(--borderStyle);
  margin: 0 20px;
  button {
    padding: 14px 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:  17px !important;

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.87);
  }
  svg {
    margin-bottom: 10px;
  }
}

.bordered {
      border-right: var(--borderStyle);
    border-left: var(--borderStyle);
}
.FormControlWrapper{
    border: var(--borderStyle);
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tableBody {
  border-collapse: collapse;
  width: 100%;
  thead {
    th {
      background: #64b6f7;
    }
  }
  td{
     white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    max-width: 326px;
  }
  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.199);
 font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: rgba(0, 0, 0, 0.87);
padding: 10px;
text-align: left;
  }
}
.toggler{
 svg{
   transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
 }
}
.opened{
  svg{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
}
.alignCenter{
  display: flex;
  align-items: center;
}