<div class="card card-primary" id="consulting-treatment-programs">
    <div class="card-header">
        <a href="#consulting-treatment-programs"
           style="text-decoration: none; color: inherit;">
            <h2 class="card-title">Консультации и исследования</h2>
        </a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                    <tr class="text-center">
                        <th style="width: 1%">
                            #
                        </th>
                        <th>Статус</th>
                        <th style="width: 20%">
                            Название исследовании
                        </th>
                        <th style="width: 30%">
                            Начало
                        </th>
                        <th class="project-actions center">
                            Результаты
                        </th>
                        <th>
                            Особые указания
                        </th>
                        <th>
                            Назначил
                        </th>
                        <th style="width: 20%">
                        </th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    {% for lab in assigned_labs %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {% if lab.state == 'assigned' %}
                                    <span class="badge bg-warning">Назначено</span>
                                {% elif lab.state == 'dispatched' %}
                                    <span class="badge bg-success">Диспетчеризовано</span>
                                {% elif lab.state == 'cancelled' %}
                                    <span class="badge bg-danger">Отменено</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'sanatorium_nurse:get_patient_lab_research' lab.id %}">
                                    {{ lab.lab }}
                                </a>
                            </td>
                            <td>
                                {{ lab.start_date }}
                            </td>
                            {% if lab.lab_results.all  %}
                                <td class="project-actions center">
                                    <a class="btn btn-success btn-sm">
                                        <i class="fas fa-check">
                                        </i>
                                    </a>
                                </td>
                            {% else %}
                                <td class="project-actions center">
                                    <a class="btn btn-danger btn-sm">
                                        <i class="fas fa-minus">
                                        </i>
                                    </a>
                                </td>
                            {% endif %}
                            <td>
                                {{ lab.comments }}
                            </td>
                            <td>
                                {{ lab.created_by.full_name }}
                            </td>
                        {% with current_url=request.get_full_path %}
                            <td class="project-actions text-right">
                                <a class="btn btn-info btn-sm" href="{% url 'sanatorium_nurse:consulting_update' lab.id %}?next={{ current_url }}">
                                    <i class="fas fa-edit">
                                    </i>
                                    Изменить
                                </a>
                            </td>
                        {% endwith %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>