.group {
  min-width: 1040px;
  background: #ffffff;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px rgba(0, 0, 0, 0.14), 0px 1px 8px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 30px 20px;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 25px;
}
.formControl {
  margin-bottom: 10px !important;
}
.table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.tableHeader {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  fieldset {
    border: none;
  }
  svg {
    margin-right: 10px;
  }
}

.tableBody {
  border-collapse: collapse;
  width: 100%;
  thead {
    th {
      background: #64b6f7;
    }
  }
  td{
     white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    max-width: 326px;
  }
  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.199);
 font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: rgba(0, 0, 0, 0.87);
padding: 10px;
text-align: left;
  }
}

.row{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  button {
    margin-left: 10px;
    padding: 16px;
    border-color: #c4c4c4;
  }
  .formControl{
    margin-bottom: 0 !important;
  }
}