<!DOCTYPE html>
<html lang="en" id="html">

<head>
{% load static %}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <title>Hayat Medical</title>
</head>

<body>
  <!-- header starts ==== -->
<header>
      <div class="header-left">
        <div class="logo">
          <a href="">
            <img src="{% static 'assets/icons/logo.svg' %}" alt="logo" />
          </a>
        </div>
        <div class="header-links">
          <div class="header-link">
            <a href="{% url 'register' %}">Регистрация</a>
          </div>
          <div class="header-link header-link-active">
            <a href="{% url 'dispatching_m_p' %}">Пациенты</a>
          </div>
          <div class="header-link header-link--display">
            <a href="{% url 'events' %}">События</a>
            <span>7</span>
          </div>
          <div class="header-link">
            <a href="{% url 'dispatching_m_p' %}">Диспетчеризация</a>
          </div>
        </div>
      </div>
      <div class="header-right">
        <div class="dropdown">
          <button
            class="dropdown-toggle profile-btn"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mухиддинов
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'login' %}">Выйти</a></li>
          </ul>
        </div>
      </div>
    </header>

  <!-- patients tabs-->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a href="{% url 'patients_m_p' %}">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
          role="tab" aria-controls="home-tab-pane" aria-selected="true">
          Мои пациенты
        </button>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="{% url 'patients_a'%}">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"
          role="tab" aria-controls="profile-tab-pane" aria-selected="false">
          Счета
        </button>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="{% url 'patients_s'%}">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
          role="tab" aria-controls="contact-tab-pane" aria-selected="false">
          Поиск пациентов
        </button>
      </a>
    </li>
  </ul>

  <!-- patients search input box -->
  <div class="patients-my-patients__search-box">
        {% csrf_token %}
        <input id="search" class="patients-my-patients__search-input" type="text" placeholder="Искать в таблице" />
      <button class="patients-my-patients__search-btn">Экспорт в Excel</button>
  </div>

  <!-- My patients table -->
  <table id="myTable">
    <thead>
      <tr>
        <th>
          <input type="checkbox" name="" id="" />
        </th>
<!--        <th></th>-->
        <th>№</th>
        <th>Пациент</th>
        <th>Возраст</th>
        <th>Комната</th>
        <th>Основной диагноз</th>
        <th>Дата приезда</th>
        <th>Дата отъезда</th>
        <th></th>
      </tr>
    </thead>

    <tbody class="new-list">
    {% for i in patients %}
        <tr>
          <td>
            <input type="checkbox" name="" id="" />
          </td>
  <!--        <td></td>-->
          <td style="text-align: end">{{i.id}}</td>
          <td>
            <a href="" style="color: #0b79d0">{{i.l_name}} {{i.f_name}}</a>
          </td>
          <td style="text-align: end">{{ i.date_of_birth.year }} - {{ today }}</td>
          <td style="text-align: end">311(Корпус1)</td>
          <td></td>
          <td style="text-align: end">{{i.created_at}}</td>
          <td style="text-align: end">17.06.2023</td>
          <td></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

  <p class="patients-my-patients__text">
    Лечащий врач, количество пациентов: 67
  </p>

  <!-- script ============= -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="{% static 'assets/js/script.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
  <script>
<!--    console.log('rvds')-->
<!--    $(function () {-->
<!--    console.log('fhgj');-->
<!--    $('#search').onChange('change', function (e) {-->
<!--        console.log('fhgj');-->
<!--        e.preventDefault();-->
<!--        $.ajax({-->
<!--            type: $(this).attr('method'),-->
<!--            url: '{% url "patients_m_p" %}',-->
<!--            data: { name: $('#search').val() },-->
<!--            success: function (response) {-->
<!--                console.log(response);-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--});-->

<!--$(document).ready(function() {-->
<!--    $("#search").on("input", function() {-->
<!--        var inputValue = $(this).val();-->
<!--        console.log("Input value changed: " + inputValue);-->
<!--          $.ajax({-->
<!--            type: POST,-->
<!--            url: '{% url "patients_m_p" %}',-->
<!--            data: { name: $('#search').val() },-->
<!--            success: function (response) {-->
<!--                console.log(response);-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--});-->

$(document).ready(function() {
    $('#search').on('input', function() {
        const inputValue = $(this).val();
        const csrfToken = $('{% csrf_token %}').val();

        $.ajax({
            url: '{% url "patients_m_p" %}',
            type: 'POST',
<!--            contentType: 'application/json',-->
            data: { inputValue },
            headers: {
                'X-CSRFToken': csrfToken
            },
            success: function(data) {
              updateTable(data);
              console.log(data);
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    });
    function updateTable(results) {
<!--        const tbody = $('#html');-->
        const tbody = $('#myTable tbody');
        tbody.empty(); // Clear existing table body

        for (const result of results) {
            const row = $('<td>');
            tbody.append(row);
        }
    }
});

  </script>

<script>

        $(document).ready(function () {
            window.news_index = '{% url 'patients_m_p_paginator' %}';

            var page = 1;
            var block_request = false;
            var end_pagination = false;

            $(window).scroll(function () {
                var margin = $(document).height() - $(window).height() - 200;

                if ($(window).scrollTop() > margin && end_pagination === false && block_request === false) {
                    block_request = true;
                    page += 1;

                    $.ajax({
                        type: 'GET',
                        url: window.news_index,
                        data: {
                            "page": page
                        },
                        success: function (data) {
                            if (data.end_pagination === true) {
                                end_pagination = true;
                            } else {
                                block_request = false;
                            }
                            $('.new-list').append(data.content);
                        }
                    })
                }
            });
        })
    </script>

</body>
</html>
