{% extends 'sanatorium/nurse/base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>История болезни №: <b>{{ ill_his.series_number }}</b></h1>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Default box -->
                        <div class="card">
                            <div class="tab-pane text-left fade show active" id="vert-tabs-title-page" role="tabpanel"
                                 aria-labelledby="vert-tabs-title-page-tab">
                                <div class="card-body">
                                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="consulting-treatment-programs-tab"
                                               data-toggle="pill" href="#consulting-treatment-programs" role="tab"
                                               aria-controls="consulting-treatment-programs"
                                               aria-selected="true">Консультации и исследования</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="treatment-procedures-tab"
                                               data-toggle="pill" href="#treatment-procedures"
                                               role="tab" aria-controls="treatment-procedures"
                                               aria-selected="false">Лечебные процедуры</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-injections-tab"
                                               data-toggle="pill" href="#pills-injections"
                                               role="tab" aria-controls="pills-injections"
                                               aria-selected="false">Медикаменты</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="custom-content-below-tabContent">
                                        <div class="tab-pane fade show active" id="consulting-treatment-programs"
                                             role="tabpanel" aria-labelledby="consulting-treatment-programs-tab">
                                            <br>
                                            {% include 'sanatorium/nurse/components/consulting-treatment-program-card.html' %}
                                        </div>
                                        <div class="tab-pane fade" id="treatment-procedures"
                                             role="tabpanel" aria-labelledby="treatment-procedures-tab">
                                            <br>
                                            {% include 'sanatorium/nurse/components/treatment-procedure-card.html' %}
                                        </div>
                                        <div class="tab-pane fade" id="pills-injections"
                                             role="tabpanel" aria-labelledby="pills-injections-tab">
                                            <br>
                                            {% include 'sanatorium/nurse/components/pills-injections-card.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
