.custom_scrollbar{
    &::-webkit-scrollbar {
        width: 16px;
    }
    &::-webkit-scrollbar-track {
        background: #F5F5F5;
        box-shadow: 0 0 0 1px #616161;
    }
    &::-webkit-scrollbar-thumb {
        background: #BDBDBD;
        border-radius: 20px;
        border-left: 2px solid #F5F5F5;
        border-right: 2px solid #F5F5F5;
        background-clip: padding-box;
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: 76px;
    border-bottom: var(--borderStyle);

    .left{
        display: flex;
        align-items: center;
        height: 100%;

        .logo{
            margin-right: 50px;
        }

        .nav{
            display: flex;
            align-items: flex-start;
            height: 100%;

            .nav_item{
                height: 100%;
                padding: 0 20px;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.1px;
                color: rgba(0, 0, 0, 0.38);
                transition: 0.3s;
                user-select: none;
                cursor: pointer;
                border-radius: 0;
                text-transform: capitalize;
                display: flex;
                align-items: center;

                &:hover{
                    background-color: #64B6F7;
                    color: #fff;
                }
            }
        }
    }

    .right{
        .profile_text{
            color: rgba(0, 0, 0, 0.38);
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.1px;
            margin-right: 10px;
            text-transform: capitalize;
        }
    }
}

.main_wrapper{
    display: flex;
    height: calc(1080px - 76px);

    .sideBar{
        width: 116px;
        height: 100%;
        border-right: var(--borderStyle);
        padding-top: 10px;

        .sideBar_item{
            width: 100%;
            height: 78px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 10px;

            &.active{
                background-color: #64B6F7;

                svg path{
                    stroke: #fff;
                }

                span{
                    color: #fff;
                }
            }

        svg path{
            transition: 0.3s;
        }

            span{
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.4px;
                color: rgba(0, 0, 0, 0.87);
                margin-top: 5px;
                text-align: center;
                transition: 0.3s;
            }
        }
    }

    .main_block{
        width: calc(100% - 117px);
        padding-left: 20px;
        padding-right: 20px;

        .main_content{
            width: 100%;
            margin-top: 10px;
            padding-bottom: 13px;
            display: flex;
            align-items: flex-start;
            height: 891px;


            .table{
                width: 625px;
                margin-right: 10px;
                height: 100%;

                .table_block{
                    width: 100%;
                    display: flex;
                    height: calc(100% - 133px);

                    .table_medical{
                        width: 150px;
                        box-shadow: 0 0 0 1px #616161;
                        height: 100%;
                        overflow-y: auto;
                        margin-right: 10px;



                        .table_item{
                            border-top: 1px solid #616161;
                            padding: 5px 10px;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: 0.15px;
                            color: #616161;
                            width: 100%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            cursor: pointer;
                            user-select: none;


                            &:first-child{
                                border-top: 0;
                            }

                            &:last-child{
                                border-bottom: 1px solid #616161;
                            }
                        }
                    }

                    .table_doctors{
                        width: calc(100% - 160px);
                        box-shadow: 0 0 0 1px #616161;
                        height: 100%;
                        overflow-y: auto;

                        .row{
                            width: 100%;
                            display: flex;
                            border-top: 1px solid #616161;
                            cursor: pointer;
                            user-select: none;

                            &.selected{
                                .cell{
                                    color: #2196F3;
                                }
                            }

                            &:first-child{
                                border-top: none;
                            }

                            &:last-child{
                                border-bottom: 1px solid #616161;
                            }

                            .cell{
                                padding: 5px 0 5px 10px;
                                border-left: 1px solid #616161;
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: 0.15px;
                                color: #616161;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;

                                &:nth-child(1){
                                    border-left: none;
                                    width: 9%;
                                }

                                &:nth-child(2){
                                    width: 37%;
                                }

                                &:nth-child(3){
                                    width: 29%;
                                }

                                &:nth-child(4){
                                    width: 28%;
                                }

                                &:nth-child(5){
                                    width: 30px;
                                    padding: 5px;
                                }

                                .checkbox_block{
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    padding-left: 4px;

                                    input{
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        opacity: 0;


                                        &:checked + .box{
                                            border-color: #007DFF;

                                            &:after{
                                                transform: translate(-50%, -50%) scale(1);
                                            }
                                        }
                                    }

                                    .box{
                                        width: 13px;
                                        height: 13px;
                                        border: 2px solid rgba(0, 0, 0, 0.54);
                                        border-radius: 2px;
                                        position: relative;
                                        transition: 0.3s;

                                        &:after{
                                            content: "";
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%) scale(0);
                                            width: 6px;
                                            height: 6px;
                                            background-color: #007DFF;
                                            transition: 0.3s;
                                        }
                                    }
                                }

                                .status_block{
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
                                    background-color: #4CAF50;

                                    &.not_active{
                                        background-color: #F44336;
                                    }
                                }
                            }
                        }
                    }
                }
            }


        }

        .calendar{
            height: 100%;
            width: calc(100% - 635px);
        }
    }
}
